@import "@shared/styles";
.header{
    background-color:  var(--bk-color);

    @include font-styles('Quicksand',600, none,none, var(--description-dark));
    padding: 1rem;
}

.simple-btn {
    position: relative;
  
    display: block;
    width: 340px;
    height: 44px;
    margin-right: 0;
    
    padding: 0;
  
    --bg: var(--pure-white);
    color: var(--light-blue);
    background: var(--pure-white);
    line-height: 120%;
    text-align: center;
  
    border:1px solid var(--light-blue);
    border-radius: 24px;
  
    @include font-styles('Quicksand',700, 16px, 24px, var(--light-blue));
  
    transition: background-color .15s ease;
  
    @include hover {
      border-color:var(--blue);
  
      @include font-styles('Quicksand',700, 16px, 24px, var(--blue));
  
    }
  
    @include mobile-active {
      --bg: var(--blue);
    }
  }
  

.header__button-start{
    z-index: 1;

    padding: 0.5rem 0;

    @include button-style( 9rem, 2.375rem,var(--light-blue),1px solid var(--light-blue),3rem);
    @include font-styles('Quicksand',700, .75rem, 1.125rem, var(--pure-white));
    box-shadow: 0 4px 10px #377DFF;

}


.header__button-start:hover{
    @include button-style( 9rem, 2.375rem,var(--blue),1px solid var(--blue),3rem);

}




@media(min-width: #{$br-tablet}px) {

    .header__button-start{
    z-index: 1;

    padding: 0.5rem 0;

    @include button-style( 9rem, 2.375rem,var(--light-blue),1px solid var(--light-blue),3rem);
    @include font-styles('Quicksand',700, .75rem, 1.125rem, var(--pure-white));
    box-shadow: 0 4px 10px #377DFF;

}


    .header__button-start:hover{
        @include button-style( 9rem, 2.375rem,var(--blue),1px solid var(--blue),3rem);

    }
} 
      
@media(min-width: #{$br-desktop}px){
    .simple-btn {
        position: relative;
      
        display: block;
        width: 185px;
        height: 44px;
        margin-right: 2rem;
        margin: 0 3rem;
      
        padding: 0 32px ;
      
        --bg: var(--pure-white);
        color: var(--light-blue);
        
        line-height: 120%;
        text-align: center;
      
      
        border:1px solid var(--light-blue);
        border-radius: 24px;
      
        @include font-styles('Quicksand',700, 16px, 24px, var(--light-blue));
      
        transition: background-color .15s ease;
      
        @include hover {
          border-color:var(--blue);
      
          @include font-styles('Quicksand',700, 16px, 24px, var(--blue));
      
        }
      
        @include mobile-active {
          --bg: var(--blue);
        }
      }
    }


    .header__button-start{
        @include button-style( 12.5625rem, 3rem,var(--light-blue),1px solid var(--light-blue),3rem);
        @include font-styles('Quicksand',700, 1rem, 1.125rem, var(--pure-white));
        margin-top: 0;
        margin-bottom: 0;
   
        padding: 0.8rem 0;
    }

    .header__button-start:hover{
        @include button-style(12.5625rem, 3rem,var(--blue),1px solid var(--blue),3rem);
      
    }
    

